.I18N {
    text-align: inherit;
}

.aswselect2 {
    width:100%;
}

.popover-title{
    margin: 0;
    padding: 8px 14px;
    font-size: 13px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 2px 2px 0 0;
}

.popover-content{
    padding: 9px 14px;
}

.lblue {
    color: blue;
}